<%  layout("/layouts/boilerplate") %>
<body>
    
    <div class="row mt-3 mb-3">
    <div class="col-8 offset-2">
    <h3>Create a New List</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input 
                    placeholder="Add a Catchy Title" 
                    name="list[title]" 
                    type="text" 
                    class="form-control"
                    required>
                <div class="valid-feedback">
                    Title looks good!
                </div>
                <div class="invalid-feedback">
                    Please add Title!
                </div>
                    
            </div >
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea 
                    name="list[description]" 
                    placeholder="enter description" 
                    class="form-control"
                    required></textarea>
                <div class="valid-feedback">
                    Description looks good!
                </div>
                <div class="invalid-feedback">
                    Please add Description!
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input 
                    name="list[image]" 
                    type="file" 
                    class="form-control"
                    required>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4" >
                <label for="price" class="form-label">Price</label>
                <input 
                    placeholder="1200" 
                    name="list[price]" 
                  
                    class="form-control"
                    required>
                <div class="valid-feedback">
                    Okay Thank You for entering Price!
                </div>
                <div class="invalid-feedback">
                    Please enter valid Price!
                </div>
                    
                </div>

                <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input 
                    placeholder="India" 
                    name="list[country]" 
                    type="text" 
                    class="form-control"
                    required>
                <div class="valid-feedback">
                    Okay Thank You for entering country!
                </div>
                <div class="invalid-feedback">
                    Please enter valid country name!
                </div>
                </div>

            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input 
                    placeholder="enter location" 
                    name="list[location]" 
                    type="text" 
                    class="form-control"
                    required>
                <div class="valid-feedback">
                    Okay Thank You for entering Location!
                </div>
                <div class="invalid-feedback">
                    Please enter valid Location name!
                </div>
            </div>
            <button class="btn btn-dark add-btn mt-3" >Add</button>
        
        </form>
        </div>
    </div>    
</body>
